body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 194, 194);
}

.tablelist {
    border-collapse: collapse;
    width: 100%;
}

body h1 {
    text-align: center;
    font-size: 3vw;
    margin-top: 4vw;
}


.searchform {
   padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 35px;
}

.inputField,
.button {
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(211, 206, 206); 
}

#dialogForm {
    width: 300px;
    border: 0;
    box-shadow: 10px 10px 5px gray;
}

.dialogField {
    width: 95%;
}

.dialogBtnsPanel {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;;
}

#listDialog {
    width: 25%;
}



#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .deleteBtn{
    border-radius: 0.5vw;
    border: none;
    padding: 0.7vw;
    font-size: 1.2vw;
    margin-top: 2vw;
    background-color: rgba(181, 223, 227, 0.452);
    cursor: pointer;
  }
  .customercard {
    background-color: rgba(181, 223, 227, 0.581);
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    width: 15vw;
    color: rgb(62, 62, 62);
    border-radius: 3vw;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    flex-basis: 25%;
    /* box-shadow:7px 10px 10px rgb(62, 62, 62); */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.customercard h2 {
    font-size: 2vw;
}

#searchResult {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

